.footer {
  &__alt {
    border-top: 1px solid $color-line;
  }

  &__copy {
    font-size: 1.2rem;
    color: $color-text-secondary;
    line-height: 1.5rem;
  }

  &__payment {
    img {
      max-width: 4rem;
      max-height: 8rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .footer {
    .container {
      justify-content: center !important;
    }

    &__payment {
      margin-top: 1rem;
    }
    &__copy {
      text-align: center;
    }
  }
}
