.footer {
  .container {
    @include respond(tab-port) {
      justify-content: center !important;
    }
  }

  &__alt {
    border-top: 1px solid $color-line;
  }

  &__copy {
    font-size: 1.2rem;
    color: $color-text-secondary;
    line-height: 1.5rem;

    @include respond(tab-port) {
      text-align: center;
    }
  }

  &__payment {
    img {
      max-width: 4rem;
      max-height: 8rem;
    }

    @include respond(tab-port) {
      margin-top: 1rem;
    }
  }
}
