.swiper-slide {
  width: 50rem;
  height: 42.5rem;
}

.swiper__img {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  transform: translateY(-50%);
  padding: 5rem 2rem;
  color: $color-white !important;
}

.swiper__slider-button_next,
.swiper__slider-button_prev {
  &-header {
    background-color: $color-black-light;
    i {
      color: $color-white;
    }
  }

  &-bestSeller {
    background-color: $color-line;
    i {
      color: $color-text;
    }
  }
}

.swiper__slider-button_next {
  &-header {
    right: 8rem !important;

    @include respond(tab-land) {
      right: 4rem !important;
    }

    @include respond(tab-port) {
      right: 1rem !important;
    }

    @include respond(phone) {
      display: none !important;
    }
  }

  &-bestSeller {
    right: 0 !important;
  }
}

.swiper__slider-button_prev {
  &-header {
    left: 8rem !important;

    @include respond(tab-land) {
      left: 4rem !important;
    }

    @include respond(tab-port) {
      left: 1rem !important;
    }

    @include respond(phone) {
      display: none !important;
    }
  }

  &-bestSeller {
    left: 0 !important;
  }
}

.swiper__slider-button_next,
.swiper__slider-button_prev {
  i {
    font-size: 2rem;
  }

  &::after {
    content: "" !important;
  }
}

.swiper-pagination {
  position: static !important;

  &-bullet {
    opacity: 50% !important;

    &-active {
      opacity: 100% !important;
      background-color: $color-white !important;
    }
  }
}
